{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Wormy Reads{% endblock %}</title>
</head>
<body>
    <header>
        <h1>WormyReads</h1>
        <nav>
            <ul>
                <li><a href="{% url 'books:book_list' %}">BACK</a></li>

                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2023 Wormy Reads. All rights reserved.</p>
    </footer>
</body>
</html>
